/* REGLAGE GENERAL / general setting */
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
h1, h2, h3, button, nav, .link a{
    text-transform: uppercase;
}
/* NAV */
nav ul {
    border: 1px solid red;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
}
nav li{
    position: relative;
}
nav li::after{
    content: "";
    position: absolute;
    background-color: purple;
    width: 0;
    height: 5px;
    left: 0;
    top: -26px;
    transform: scale(0,1);
}
nav li:hover{
    cursor: pointer;
    color: purple;
}
nav li:hover::after{
    width: 100%;
    transition: .4s ease;
    transform: scale(1,1);
}
#language{
    background-color: rgba(128, 128, 128, 0.31);
    padding: 10px 20px;
    border-radius: 20px;
}
#language::after{
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    left: 0;
    top: -17px;
}
#language:hover::after{
    width: 100%;
}
